name: Build
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # SỬ DỤNG ACTION NÀY ĐỂ FIX LỖI
      - name: Build with Buildozer
        uses: HeaTTheatR/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SabianOracle-APK
          # Action này sẽ xuất file vào thư mục bin
          path: bin/*.apk
